<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Predicting enrolment of existing customer into a new plan using different ML models. </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#4739c6;background-repeat:no-repeat;background-position:top center;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>

<script language="javascript">
  function SelectRedirect(){
  // ON selection of section this function will work
  //alert( document.getElementById('s1').value);
  
  switch(document.getElementById('s1').value)
  {
  case "DT":
  // window.location="../php_tutorial/site_map.php";
  window.location.assign("http://127.0.0.1:5000/DT-GET");
  break;
  
  case "LR":
  window.location.assign("http://127.0.0.1:5000/LR-GET");
  break;
  
  case "SVM":
  window.location.assign("http://127.0.0.1:5000/SVM-GET");
  break;

  case "KNN":
  window.location.assign("http://127.0.0.1:5000/KNN-GET");
  break;
    
  /// Can be extended to other different selections of SubCategory //////
  default:
  window.location="../"; // if no selection matches then redirected to home page
  break;
  }// end of switch 
  }
  ////////////////// 
  </script>

</head>
<body>
<h1>Choose a ML model to train the data and predict the outcome of new customer.</h1>
</br>
<SELECT id="s1" NAME="section" onChange="SelectRedirect();">
  <Option value="">Select Section</option>
  <Option value="DT">Decision Tree</option>
  <Option value="LR">Logistic Regression</option>
  <Option value="SVM">SVM</option>
  <Option value="KNN">KNN</option>
</SELECT>
</br>

{{prediction_text}}

</body>
</html>
